body
{
   width:40%;
   height:60vh;
   background-image: url(abstract.jpg);
   background-size: cover;
   background-position: center;
   
}
div {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    margin-left: 10%;
}